<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I'm an avid traveller, foodie, music lover and former entrepreneur. <br />I spend most of my time writing code building cool stuff and helping
      teams grow and reaching their potential. I learn about Artificial Intelligence, Space science and foreign languages.
      I believe someday I'll make my small contribution to the world.
      <p />
      Currently Engineering Lead @ <a href='http://wise.com' target="_blank">Wise</a>
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
