.nav-button {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 15px;
  font-size: 12px;
}

.nav-main-button {
  padding: 15px;
  font-size: 16px;
}

.button-height {
  line-height: 2.125rem;
}
