<footer>
  <p>
    <a href="https://twitter.com"><img src="/images/twitter.svg" alt="Share Cinephile on Twitter"></a>
    <a href="https://facebook.com"><img src="/images/facebook.svg" alt="Share Cinephile on Facebook"></a>
  </p>
  <p>
      Made by <a href="https://twitter.com/amin_aat">@amin_aat</a>
  </p>
  <p>
      <a href="https://twitter.com/amin_aat">Privacy</a> | <a href="https://twitter.com/amin_aat">Support</a>
  </p>
  <p>
      Cinephile is not created by, affiliated with, or supported by Slack Technologies Inc.
  </p>
</footer>
